.app-layout {
  background: white;
}

.app-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-content {
  padding: 20px;
}

.app-footer {
  text-align: right;
  background: #001529;
  color: white;
  padding: 5px 10px;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: larger;
}